---
import Banner from "../components/Banner.astro";
import Menu from "../components/Menu.astro";
import CaseStudySingleHero from "../components/CaseStudySingleHero.astro";
import CodeComputer from "../components/CodeComputer.astro";
import ProjectOverview from "../components/ProjectOverview.astro";
import SubscribeOurNewsletter from "../components/SubscribeOurNewsletter.astro";
import MoreCaseStudies from "../components/MoreCaseStudies.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header></header>

		<main>
		<Banner />
		<Menu />
		<CaseStudySingleHero />
		<CodeComputer />
		<ProjectOverview />
		<SubscribeOurNewsletter />
		<MoreCaseStudies />
		<Footer />
	    </main>
		
		<footer></footer>
	</body>
</html>