---
import { Icon } from "astro-icon/components";
import "../Styles/global.css";
---

<article class="banner">
  <div class="Icons">
    <Icon name="icon" />
    <p>Monday - Friday 8AM - 9PM</p>
  </div>  

  <div class="Icons">
    <Icon name="icon2" />
    <p>725 Park Ave, New York</p>
  </div>

  <div class="some">
    <Icon name="instagram" />
    <Icon name="facebook" />
    <Icon name="twitter" />
    <Icon name="linked-in" />
  </div>
</article>



<style>
  *{
    box-sizing: border-box; 
  }


    [data-icon="globe"] {    
        width: 3.3rem;    
        height: 3.3rem;  
    }
    
    article{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--background-color);


        & p{
            color: var(--content-color-white);
        }

        & .Icons, .some{
            display: flex;
            align-items: var(--align-item);
            gap: var(--icon-gap2);
        }

        & .some{
          gap: var(--icon-gap);
        }
    }
</style>

