---
import { Icon } from "astro-icon/components";
import "../Styles/global.css";
---

<article class="banner">
  <div class="Icons">
    <icon name="icon" />
    <p>Monday - Friday 8AM - 9PM</p>
  </div>  

  <div class="Icons">
    <icon name="icon2" />
    <p>725 Park Ave, New York</p>
  </div>

  <div class="some">
    <icon name="instagram" />
    <icon name="facebook" />
    <icon name="twitter" />
    <icon name="linkedin" />
  </div>
</article>



<style>
  *{
    box-sizing: border-box; 
  }

  article{
    background-color: var(--background-color);
    color: white;
    display: flex;
    justify-content: space-around;
  }

  .Icons{
    align-items: center;
    display: flex;
  }

  p{
    font-size: x-small;
  }

  .some {
    display: none;
  }


  @media screen and (min-width: 999px) {

    [data-icon="globe"] {    
        width: 3.3rem;    
        height: 3.3rem;  
    }
    
    article{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--background-color);


        & p{
            color: var(--content-color-white);
        }

        & .Icons, .some{
            display: flex;
            align-items: var(--align-item);
            gap: var(--icon-gap2);
        }

        & .some{
          gap: var(--icon-gap);
        }
    }


  }
</style>

