---
import { Icon } from "astro-icon/components";
import "../Styles/global.css";
---

<div class="all">
    <a href="#">All</a>
    <p>Taxes & Efficiency</p>
    <p>Investment banking</p>
    <p>Financial Plan</p>
    <p>Audit & Evaluation</p>
</div>


<article>
<section class="images">
        <img src="/public/images/photo3.png" alt="">

        <img src="/public/images/photo4.png" alt="">

        <img src="/public/images/photo5.png" alt="">
</section>
<section class="images">
    <img src="/public/images/photo6.png" alt="">

    <img src="/public/images/photo7.png" alt="">

    <img src="/public/images/photo8.png" alt="">
</section>
</article>



<style>
article{
    background-color: white;
}

.all{
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    gap: 10px;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;

    & p{
        font-size: 10px;
        color: white;
    }

    & a{
        font-size: 10px;
        color: #FFCC4A;
    }
}

img{
    width: 51%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 15px;
}

@media screen and (min-width: 999px) {
    .all{
        display: flex;
        align-items: center;
        gap: 1em;
        background-color: black;
        width: fit-content;
        padding: 15px 50px;
        border-radius: 30px;
        margin: auto;
        margin-top: 10em;

        & p{
            color: white;
        }

        & a{
            color: #FFCC4A;
        }
    }
    article{
        display: grid;
        flex-direction: row;
        justify-content: center;
        padding: 50px 50px;
        gap: 20px;
        background-color: white;
    }

    .images{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 25px;
    }

    img{
        border-radius: 15px;
    }

}


</style>