---
import "../Styles/global.css";
---

<section>
    <h2>Project Overview</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      <br> <br>
      It brings the right people together with all the right information and tools to get work done
      <br> <br>
      We provide operational efficiency, data security, and flexible scale
      <br> <br>
      Your best work, together in one package that works seamlessly from your computer
      <br> <br>
      Delivers the tools you need to save time Improve field performance always
    </p>
  
  <br>
  
    <div class="Storyboard">
      <h3>Storyboard</h3>
      <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. Objectively innovate empowered manufactured products whereas parallel platforms. Holistically predominate extensible testing procedures for reliable supply chains.</p>
      <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products completely pursue scalable customer service.</p>
    </div>
  </section>
  
  <img id="storyboard" src="/public/images/storyboard.png" alt="">
  
  
  <div class="ProjectResult">
    <h2>Project result</h2>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
  </div>



  <style>

img{
      border-radius: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10em;
    }

section{
      width: 90%;
      margin: auto;

      & h2 {
        font-size: 40px;
      }

      & h3{
        font-size: 30px;
      }

      & p{
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 147.5%;
      }
    }

    #storyboard{
      border-radius: 0;
      margin-top: 3em;
      margin-bottom: 3em;
      width: 82%;
    }


    .ProjectResult{
      width: 90%;
      margin: auto;

      & h2{
        font-size: 30px;
      }

      & p{
        font-size: 16px;
        line-height: 147.5%;
      }
    }
  </style>